@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>欢迎登录后台管理系统</title>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="~/js/jquery.js"></script>
    <script src="~/js/cloud.js" type="text/javascript"></script>
   
    <link href="~/lib/ligerUI/skins/Aqua/css/ligerui-dialog.css" rel="stylesheet" />
    <link href="~/lib/ligerUI/skins/Gray/css/dialog.css" rel="stylesheet" type="text/css" />
    <script src="~/lib/ligerUI/js/core/base.js"></script>
    <script src="~/lib/ligerUI/js/ligerui.all.js"></script>
    <script src="~/lib/ligerUI/js/ligerui.min.js"></script>
    <script src="~/lib/ligerUI/js/plugins/ligerDialog.js"></script>
    <script src="~/lib/ligerUI/js/common.js"></script>
   
    <script type="text/javascript">
        var FromUrl = getQueryStringByName("FromUrl");
        if (!FromUrl) {
            FromUrl = encodeURIComponent("/Home/Index");
        }
        $(function () {
            $('.loginbox').css({ 'position': 'absolute', 'left': ($(window).width() - 692) / 2 });
            $(window).resize(function () {
                $('.loginbox').css({ 'position': 'absolute', 'left': ($(window).width() - 692) / 2 });
            });
 
            $(document).keydown(function (e) {
                if (e.keyCode == 13) {
                    dologin();
                }
            });

            $("#btnLogin").click(function () {
                dologin();
            });


            function dologin() {
                var username = $("#txtUsername").val();
                var password = $("#txtPassword").val();
                if (username == "") {
                    $.ligerDialog.alert('账号不能为空!');
                    $("#txtUsername").focus();
                    return;
                }
                if (password == "") {
                    $.ligerDialog.alert('密码不能为空!');
                    $("#txtPassword").focus();
                    return;
                }
                $.ajax({
                    type: 'post', cache: false, dataType: 'json',
                    url: '/Account/Validate',
                    data: [
                    { name: 'Action', value: 'Login' },
                    { name: 'username', value: username },
                    { name: 'password', value: password }
                    ],
                    success: function (result) {
                        if (!result) {
                            $.ligerDialog.alert('登陆失败,账号或密码有误!');
                            $("#txtUsername").focus();
                            return;
                        } else {
                            location.href = decodeURIComponent(FromUrl);
                        }
                    },
                    error: function () {
                        $.ligerDialog.alert('发送系统错误,请与系统管理员联系!');
                    },
                    beforeSend: function () {
                        $.ligerDialog.waitting("正在登陆中,请稍后...");
                        $("#btnLogin").attr("disabled", true);
                    },
                    complete: function () {
                        $.ligerDialog.closeWaitting();
                        $("#btnLogin").attr("disabled", false);
                    }
                });
            }
        });
    </script>



</head>

<body style="background-color:#1c77ac; background-image:url(/images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">



    <div id="mainBody">
        <div id="cloud1" class="cloud"></div>
        <div id="cloud2" class="cloud"></div>
    </div>


    <div class="logintop">
        <span>欢迎登录后台管理界面平台</span>
         
    </div>

    <div class="loginbody">

        <span class="systemlogo"></span>

        <div class="loginbox">

            <ul>
                <li><input name="" type="text" id="txtUsername" class="loginpwd" value="用户名" onclick="JavaScript:this.value=''" /></li>
                <li><input name="" type="password" id="txtPassword" class="loginpwd" value="......" onclick="JavaScript:this.value=''" /></li>
                <li><input name="" type="button" id="btnLogin" class="loginbtn" value="登录" />
            </ul>


        </div>

    </div>


 

</body>

</html>
