@{
    Layout = null;
}

<html>
<head>
    <title>welcome</title>
    <style>
        .bg {
            background: url(../../images/welcome.jpg);
            filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
            -moz-background-size: 100% 100%;
            background-size: 100% 100%;
        }
    </style>
</head>

<body class="bg"></body>
</html>
